.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

.cardButton {
   width:5%;
   height:2em;
}

.leftButton {
    padding-left: 10%;
    margin-left: 0%;
    margin-right: 0%;
    clear: left;
    float: left;
}

.rightButton {
    padding-right:10%;
    margin-left: 0%;
    margin-right: 0%;
    float:right;
}

.middleButton {
    display:inline-block;
    padding-left:20%;
    padding-right: 0%;
}

* input[type="button"] {
    font-family:Georgia, Times New Roman, Comic Sans MS, Helvetica, Palatino;
}